:root {
  --primary-color: #fefefe;
  --secondary-colorDark: #7486ec;
  --secondary-color: #d4dbf8;
  --third-colorDark: #fe7d22;
  --third-color: #fed7ba;
  --fourth-colorDark: #48d0d0;
  --third-colordd: #c9f1f0;
  --hover-colord: #f8f8fa;
  --background-color: #f0f1f5;
  --text-color: #29292a;
}

body {
  /* background-color: antiquewhite; */
  margin: 0;
  padding: 0;
}
/* //////////////////////////////////////////////// */
/*/////////////////// container /////////////////// */
/* /////////////////////////////////////////////// */
.container {
  /* background-color: #a52a2a80; */
  --min: 10ch;
  /* --gap: 1rem; */

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.container > * {
  flex: 1 1 var(--min);
}

/* //////////////////////////////////////////////// */
/* menu  */
/* /////////////////////////////////////////////// */
/* item 1 */
.item-1 {
  max-width: 6vw;
  /* max-width: 3.48rem; */
  /* height: 100vh; */
}
.container--menu {
  /* width: 300px; */
  /* height: 300px; */
  background-color: rgb(255, 255, 255);
  height: var(--global-height);
  /* width: 17.1%; */
}

.container--main-section {
  /* background-color: #fe7e22a8; */
  height: var(--global-height);
  padding-top: 2%;
  /* width: 300px; */
  /* height: 300px; */
}
/* icon */
.container--menu_icon {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* background-color: burlywood; */
  /* height: var(--global-height); */
  height: 100vh;
}

.container--menu_icon a {
  display: flex;
  justify-content: center;

  /* align-content: flex-end; */
  /* align-items: space-between; */
  margin: 1% 0;
  text-decoration: none;
}
/* .container--menu_icon > a {
  margin-bottom: 6rem;
  margin-top: 13%;
} */
.container--menu_icon img {
  width: 60%;
  height: 100%;
}
.icons {
  /* background-color: #7486ec; */
  margin-bottom: 10rem;
  /* margin-bottom: auto; */
  margin-bottom: 60vh;
}

.icons a {
  padding-bottom: 1rem;
  /* padding-bottom: 40%; */
}
.icon-color {
  color: #bababa;
}
.icon-add {
  border-radius: 5px;
  background-color: var(--secondary-colorDark);
  color: white;
  margin-left: 0.5rem;
}

.first {
  margin-top: 1.5rem !important;
  margin-bottom: 6rem !important;
}

.last {
  /* margin-top: 7rem !important; */
  margin-bottom: 2rem !important;
}

/* //////////////////////////////////////////////// */
/* job title*/
/* /////////////////////////////////////////////// */

.item-2 {
  /* background-color: rgba(127, 255, 212, 0.459); */
  max-width: 24vw;
  position: relative;
}

.item-3 {
  /* background-color: rgba(161, 127, 255, 0.5); */
}

/* //////////////////////////////////////////////////////////////////////// */
/* ///////////////////////// Container job section //////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */

.container--job-title {
  /* width: 300px; */
  /* height: 300px; */
  /* background-color: rgba(51, 70, 153, 0.616); */
  height: var(--global-height);
  border: 1px #b7b7b754 solid;
}

.container--job-title_heading {
  /* background-color: rgba(165, 42, 42, 0.274); */
  padding: 0px 5%;
  display: flex;
  /* background: rebeccapurple; */
  justify-content: space-between;
  align-items: center;
}
.container--job-title_heading a {
  text-decoration: none;
  color: var(--text-color);
}
.container--job-title_body {
  background-color: var(--primary-color);
  /* padding: 7% 0 7% 0.9rem; */
  color: #646464;
  /* padding: 6% 0; */
  padding: 0.5rem 0.8rem;
}

.container--job-title_body a {
  text-decoration: none;
  color: #646464;
}

.container--job-title_body h4 {
  /* margin-bottom: 3%; */
  margin: 0;
}
.container--job-title_line {
  /* margin: 11% 0 4%;
  border-bottom-width: 0; */
  border-bottom-width: 2px;
  border-top-width: 0px;
}

/*This is selected part on senior java manager */
.selected {
  /* background-color: #f8f8fa; */
  background-color: #e8e8e9;
  border: 4px #687cd3 solid;
  border-bottom: none;
  border-top: none;
  border-left: none;
}
.container--job-title_body_text {
  /* margin-top: 12vh; */
  /* margin: 12vh 20% 0 20%; */
  /* margin: 2%; */
  padding: 3%;
  border-radius: 5px;
  background-color: #d0d1d5;
  text-align: center;
  width: 49%;
  margin: 44% auto 0;
  position: absolute;
  bottom: 43px;
}
/* margin: 26vh auto 0; */

.test-menu {
  display: none;
}

/* //////////////////////////////////////////////////////////////////////// */
/* ///////////////////////// Container main section//////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */

.container--main-section_heading {
  display: flex;
  padding-right: 3%;
}

.container--main-section_heading h2 {
  margin-right: auto;
  padding-left: 1.8rem;
}

.container--main-section_heading_icon {
  display: flex;
  align-items: center;
}

.container--main-section_heading_icon a {
  color: white;
  /* border: 1px gray solid;
  border-radius: 50%;
  padding: 3%; */
}

.container--main-section_heading_icon > a {
  margin-left: 1rem;
}
.container--main-section_icon2 {
  display: flex;
  align-items: center;
  background: #7486ed;
  color: white;
  border-radius: 16px;
  padding: 0.1rem 1.5rem;
  margin-left: 1rem;
}
.add-person-icon {
  color: white;
}

.delete-icon,
.edit-icon {
  color: black;
  border: 1px gray solid;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: white;
}
.container--main-section_icon2 p {
  margin-left: 0.5rem;
}
.container--main-section--job-title_intro {
  background-color: rgb(253, 253, 253);
  display: flex;
  margin-top: 1.5rem;
}

.container--main-section--job-title_intro a {
  text-decoration: none;
  color: black;
}

.container--main-section--job-title_intro > a {
  /* padding-right: 4rem; */
  padding: 0 2rem;
}

.Kanban-selectedr {
  background-color: #48d0d0;
  position: relative;
}
.Kanban-selected::after {
  background-color: #697bda;
  content: "";
  position: absolute;
  width: 4%;
  top: 11rem;
  /* left: 0; */
  height: 4px;
}
.Kanban-text h4 {
  color: #808080b8;
}
/* section for details for employ start here */

.container--main-section--job-title_intro_line {
  margin-top: 0.7rem;
  margin-bottom: 2rem;
  border-bottom: none;
}

.container--main-section-rating {
  /* display: flex; */
  /* flex-wrap: wrap; */
  background: rgb(48, 51, 51);
  margin: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  /* padding: 2% 0 2% 4%; */
  /* border-radius: 11px; */
  /* width: 16rem; */
}
.container--main-section-rating_star,
.container--main-section-rating_short-listed,
.container--main-section-rating_contact {
  /* display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap; */
  display: flex;
  display: relative;
  /* width: 62%; */
  /* margin-right: 50px; */
  color: white;
  max-width: 13vw;
}

.container--main-section-rating_short-listed {
  max-width: 13vw;
}
/* */
*/ .star-title {
  padding-left: 15%;
}
/* new section*/

.star {
  background-color: #7486ec;
  padding: 4% 40% 4% 9%;
  border-radius: 11px;
  /* z-index: 6; */
  position: relative;
  left: 4px;
  display: flex;
  align-items: flex-end;
}
.star-number {
  background: #d4dbf8;
  padding: 5% 5% 4% 9%;
  /* padding: 4% 21% 4% 9%; */
  /* border-radius: 11px; */
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  display: flex;
  align-items: center;
  color: #7486ec;
}
.star-number span {
  margin-left: 28px;
}
/* short listed section  */
.shortlisted {
  background-color: #fe7d21;
  padding: 4% 9% 4% 9%;
  border-radius: 11px;
  /* z-index: 6; */
  position: relative;
  left: 17px;
  display: flex;
  align-items: center;
}

.shortlisted-number span {
  margin-left: 55px;
}
.shortlisted-number {
  background: #fed7ba;
  padding: 5% 7% 4% 9%;
  /* border-radius: 11px; */
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  display: flex;
  align-items: center;
  color: #fe7d21;
}
/* Interviewed section */

.interviewed {
  background-color: #48d0d0;
  padding: 4% 25% 4% 9%;
  border-radius: 11px;
  /* z-index: 6; */
  position: relative;
  left: 17px;
  display: flex;
  align-items: center;
}

.interviewed-number span {
  margin-left: 33px;
}

.interviewed-number {
  background: #c9f1f0;
  color: #48d0d0;
  padding: 5% 7% 4% 9%;
  /* padding: 4% 21% 4% 17%; */
  /* border-radius: 11px; */
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  display: flex;
  align-items: center;
}
/* ////////////////////////////////////////////////////////////////////////////////////////// 
/* data */
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
.container--main-section-data {
  --min: 10ch;
  --gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  margin: 0 2vw;
}

.container--main-section-data > * {
  flex: 1 1 var(--min);
}

/* .container--main-section-data { */
/* display: grid; */
/* grid-template-columns: 1fr 1fr 1fr; */
/* gap: 0.4rem; */
/* width: 100%; */
/* background-color: rgb(36, 56, 36); */
/* height: 100%; */
/* } */
/*  */
.container--main-section-data_item1 {
  width: 100%;
  height: 100vh;
  /* background-color: #697bda; */
  margin-left: 2%;
}
.container--main-section-rating_star {
  max-width: 13vw;
}

.container--main-section-rating_star__data {
  background-color: #aeb0b978;
  /* background-color: #aeb0b9; */
  /* background-color: #f0f1f5; */
  width: 100%;
  /* height: 48.5rem; */
  border-radius: 11px;
  margin-top: 5%;
  overflow: hidden;
}

.container--main-section-rating_star__data_card {
  border-radius: 11px;
  background-color: #fefefe;
  /* height: 186px; */
  /* height: 131px; */
  width: 89%;
  padding: 4% 0;
  /* padding: 4% 0% 11% 0; */

  margin: 10px auto;
  color: #b2b2bb;
}

.container--main-section-rating_star__data_card img {
  /* width: 20%; */
  max-width: 18%;
  margin: 1rem;
}
.container--main-section-rating_star__data_card_header {
  display: flex;
  align-items: center;
}

.container--main-section-rating_star__data_card_header h4 {
  color: black;
  margin-bottom: 0.5rem;
}
.container--main-section-rating_star__data_card_title {
  font-size: 14px;
}
.container--main-section-rating_star__data_card_body {
  display: flex;
  justify-content: flex-start;
  margin: 5% 0 2% 7%;
}

.container--main-section-rating_star__data_card_body p {
  border: 1px #e3e3e1 solid;
  border-radius: 11px;
  padding: 0.2% 3%;
  font-size: 11px;
  margin-right: 0.5rem;
}

.container--job-title_body button {
  padding: 6% 23%;
  border: none;
  border-radius: 17px;
  margin: 66vh auto 0;
  width: 100%;
  /* margin-top: 21%; */
}

.container--main-section-data_item2 {
  width: 100%;
  /* background-color: #aeb0b978; */
  height: 20%;
  /* background-color: #69daab; */
}
.container--main-section-data_item3 {
  margin-top: 16vh;

  /* width: 100%; */
  /* height: 20%; */
  /* background-color: #c769da; */
}

/* //////////////////////////////////////////////////////////////////////// */
/* @media (1024px <= width >= 1440px)  */
/* Nest Hub laptop */
/* //////////////////////////////////////////////////////////////////////// */
@media (width = 1024px) {
  body {
    /* background-color: rgba(165, 42, 42, 0.301); */
  }
  .container--menu_icon {
    /* height: 122vh; */
    height: 100vh;
  }
  .first {
    margin-top: 1.5rem !important;
    margin-bottom: 3rem !important;
  }

  .last {
    margin-top: 3rem !important;
    margin-bottom: 2rem !important;
  }
  .container--job-title_body {
    /* padding: 1px 0 5%; */
  }
  .container--job-title_body_section {
    height: 70vh;
    font-size: 0.8rem;
    /* overflow: hidden; */
  }

  .container--job-title_body_text {
    margin: 30% auto 0;
    position: absolute;
    bottom: 31px;
  }
  .container--job-title_body button {
    padding: 6% 23%;
    border: none;
    border-radius: 17px;
    /* margin-top: 5%; */

    margin: 101vh auto 0;
    width: 100%;
  }
  .container--main-section-data_item3 {
    max-width: 33vw;
  }
  .container--main-section-data {
    flex-wrap: nowrap;
    margin-right: 3vw;
  }
  .icons {
    margin-bottom: 100vh;
  }
}

/* //////////////////////////////////////////////////////////////////////// */
/* Tablet resolution */
/* //////////////////////////////////////////////////////////////////////// */
@media (601px<= width <= 992px) {
  .item-1 {
    max-width: 11vw;
  }

  .container--menu {
    width: 11vw;
  }
  .test {
    display: none;
  }

  .container--main-section-rating_star__data_card_header {
    flex-direction: column;
    text-align: center;
  }
  .container--main-section-rating_star__data_card_body {
    margin: 0;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .star {
    padding: 4% 18% 4% 9%;
  }
  .star-number {
    padding: 5% 5% 4% 0%;
  }
  .star-number span {
    margin-left: 15px;
  }
  .container--main-section-data_item3 {
    max-width: 33vw;
  }

  .container--job-title_body button {
    margin-top: 127vh;
  }

  .icons {
    margin-bottom: 120vh;
  }
}
/* //////////////////////////////////////////////////////////////////////// */
/* Mobile resolution */
/* //////////////////////////////////////////////////////////////////////// */
@media (width <= 600px) {
  /* .item-1 {
    max-width: 22vw;
  } */
  .item-2 {
    max-width: 44vw;
  }

  .test {
    display: contents;
  }

  .item-1 {
    display: none;
  }

  .container--job-title_body_text {
    position: static;
  }

  .container--main-section-rating_star__data_card_header {
    flex-direction: column;
  }

  /* .container--menu {
    width: 20vw;
  } */
}

/* part 1 */
.test1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 15vw; */
}

.test11 {
  background-color: #7486ec;
  color: white;
  padding: 10px 99px 10px 14px;
  border-radius: 11px;
  position: relative;
  left: 12px;
  display: flex;
  align-items: center;
  width: 2vw;
}
.test111 {
  background-color: #d4dbf8;
  color: #7486ec;
  padding: 12px 14px 12px 38px;
  border-radius: 11px;
}
/* part 2 */
.test2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test21 {
  background-color: #fe7d21;
  color: white;
  padding: 10px 96px 10px 14px;
  /* padding: 10px 71px 10px 14px; */
  border-radius: 11px;
  position: relative;
  left: 12px;
  display: flex;
  align-items: center;
  width: 2vw;
}
.test211 {
  background-color: #fed7ba;
  color: #fe7d21;
  /* padding: 12px 14px 12px 38px; */
  padding: 12px 14px 12px 68px;
  border-radius: 11px;
}
.star-title {
  padding-left: 5px;
}

/* part 3 */
.test3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test31 {
  background-color: #48d0d0;
  color: white;
  padding: 10px 60px 10px 14px;
  border-radius: 11px;
  position: relative;
  left: 12px;
  display: flex;
  align-items: center;
}
.test311 {
  background-color: #c9f1f0;
  color: #48d0d0;
  padding: 10px 14px 10px 33px;
  border-radius: 11px;
}
